:root {
  // colors
  --color-font-primary: #05386b;
  --color-font-secondary: #378693;
  --color-primary: #5cdb95;
  --color-green-secondary: #8ee4af;
  --color-secondary: #edf5e1;

  // Font Sizes
  --font-primary: 0.9rem;
  --font-small: 0.75rem;
  --font-medium: 1.5rem;
  --font-large: 2.25rem;
  --font-x-large: 3rem;

  //Header Height
  --navbar-height: 3.125rem;
  --header-height: 2.5rem;
}
