:root {
  // colors
  --color-font-primary: #05386b;
  --color-font-secondary: #378693;
  --color-primary: #5cdb95;
  --color-secondary: #edf5e1;

  // Font Sizes
  --font-primary: 1rem;
  --font-small: 0.75rem;
  --font-medium: 1.5rem;
  --font-large: 2.25rem;
  --font-x-large: 3rem;
}
