.content {
  &-header {
    display: grid;
    grid-template-columns: auto repeat(2, 30px);
    grid-column-gap: 10px;
    grid-column-start: 2;
    align-items: center;
    span {
      float: left;
    }
    img {
      float: right;
      cursor: pointer;
    }
  }
}
