.header {
  display: grid;
  height: var(--Header-height);
  grid-template-columns: auto 70px repeat(2, 50px) repeat(2, 30px);
  grid-column-gap: 10px;
  align-items: center;
  font-size: var(--font-primary);
  margin: 5px 10px;

  img {
    cursor: pointer;
  }

  .trans-button {
    display: inline-block;
    background: var(--color-font-secondary);
    font-size: var(--font-small);
    color: #fff;
    text-shadow: 0px 0px 1px var(--color-font-secondary);
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
  }

  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: var(--color-font-primary)
      radial-gradient(circle, transparent 1%, var(--color-font-primary) 1%)
      center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

  .active {
    background: var(--color-font-primary);
  }
}
