.verse {
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  margin: 5px 10px;

  h3 {
    text-align: center;
  }
}

.results-list {
  position: absolute;
  overflow: auto;
  width: calc(100% - 20px - 4px);
  height: calc(100% - 20px - 4px - 60px);
  margin: 10px 10px 10px 0px;
  border: 1px solid black;
  border-radius: 2px;
  top: 60px;

  .card {
    cursor: pointer;

    &:hover {
      background-color: var(--color-green-secondary);
    }

    &.active {
      background-color: var(--color-primary);
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}

section {
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 10px;
  position: relative;
}
