.app {
  &-content {
    width: calc(100% - 20px);
    position: absolute;
    height: calc(100vh - 20px - var(--header-height));
    padding: 10px;
    background-color: var(--color-secondary);
  }
}
